<div class="projectsClass">
    <h3 class="my-work">My Work</h3>

    <div class="projectsContainer">
        <div class="topRow">
            <div class="projectOne">
                <a href="https://krmeserve.github.io/fists_of_fire/"><img src="img/project1.png" alt=""></a>
            </div>
            <div class="projectTwo">
                <a href="https://parks-of-athens.herokuapp.com/"><img src="img/project2.png" alt=""></a>
            </div>
        </div>
        <div class="bottomRow">
            <div class="projectThree">
                <a href="https://circuit-connection.herokuapp.com/"><img src="img/project3.png" alt=""></a>
            </div>
            <div class="projectFour">
                <!-- <img src="img/github.png" alt=""> -->
            </div>
        </div>
    </div>
    <div class="nav-bar">
        <a href="#">Home</a>
        <a href="#">My Work</a>
        <a href="#">About</a>
        <a href="#">Request my Resume</a>
    </div>
</div>
<div ng-include="ctrl.footerPartial"></div>
